<table class="jobs table is-hoverable is-fullwidth">
  <tbody>
  <thead>
  <tr>
    <th style="width: 30%;">Job</th>
    <th></th>
    <th style="width: 20%;"></th>
  </tr>
  </thead>

  <%= render partial: "mission_control/jobs/shared/job", collection: jobs %>

  </tbody>
</table>
