<% if job.failed? %>
  <a id="error"></a>
  <h2 class="subtitle">Error information</h2>

  <table class="table">
    <tbody>
    <tr>
      <th>Type</th>
      <td> <%= job.last_execution_error.error_class %> </td>
    </tr>
    <tr>
      <th>Message</th>
      <td> <%= job.last_execution_error.try(:message) || job.last_execution_error.inspect %> </td>
    </tr>
    <tr>
      <th>Backtrace</th>
      <td>
        <pre class="is-family-monospace"><%= failed_job_backtrace(job) %></pre>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
