<table class="jobs <%= jobs_status %> table queues is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th style="width: 35%;">Job</th>
      <% attribute_names_for_job_status(jobs_status).each do |attribute| %>
        <th><%= attribute %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "mission_control/jobs/jobs/job", collection: jobs_page.jobs %>
  </tbody>
</table>
