<h1 class="title">
  <div class="level">
    <div class="level-left">
      <%= job_title(job) %>
      <div class="<%= modifier_for_status(job.status) %> tag ml-4"><%= job.status %></div>
    </div>
    <div class="level-right">
      <% if job.failed? %>
        <%= render "mission_control/jobs/failed_jobs/actions", job: job %>
      <% end %>
    </div>
  </div>
</h1>
