<table class="jobs failed table queues is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="job-header">Job class</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @grouped_jobs.each do |klass, count|%>
      <tr>
        <td><%= klass %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>