<td>
  <%= link_to failed_job_error(job), application_job_path(@application, job.job_id, anchor: "error") %>
  <div class="has-text-grey"><%= time_distance_in_words_with_title(job.failed_at) %> ago</div>
</td>
<td class="pr-0">
  <%= render "mission_control/jobs/jobs/failed/actions", job: job %>
</td>
