<h1 class="title">
  <div class="level">
    <div class="level-left">
      <%= "Worker #{worker.id} — #{worker.name}" %>
    </div>

    <div class="level-right is-family-monospace">
      <%= worker.hostname %>
    </div>
  </div>
</h1>
