<div class="buttons is-right">
  <% if queue.active? %>
    <%= button_to "Pause", pause_queue_status_path(queue.name), method: :put, class: "button is-warning" %>
  <% else %>
    <%= button_to "Resume", resume_queue_status_path(queue.name), method: :put, class: "button is-success" %>
  <% end %>
</div>
