<tr class="queue">
  <td>
    <%= link_to queue.name, queue_path(queue.name) %>
    <% if queue.paused? %>
      <span class="tag is-warning">Paused</span>
    <% end %>
  </td>
  <td> <%= queue.size %> </td>
  <td>
    <%= render "mission_control/jobs/queues/queue_toolbar", queue: queue %>
  </td>
</tr>
