<tr class="queue">
  <td>
    <%= link_to queue.name, application_queue_path(@application, queue) %>
    <% if queue.paused? %>
      <span class="ml-4 tag is-warning">Paused</span>
    <% end %>
  </td>
  <td>
    <%= queue.size %>
  </td>
  <td class="pr-0">
    <% if queue_pausing_supported? %>
      <%= render "mission_control/jobs/queues/actions", queue: queue %>
    <% end %>
  </td>
</tr>
