<table class="table is-striped is-hoverable is-fullwidth">
  <tbody>
  <thead>
  <tr>
    <th>Queue</th>
    <th>Pending jobs</th>
  </tr>
  </thead>

  <% @queues.each do |queue| %>
    <tr>
      <td> <%= queue.name %> </td>
      <td> <%= queue.size %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
