<% navigation(title: "Queues", section: :queues)  %>

<table class="queues table queues is-striped is-hoverable is-fullwidth">
  <tbody>
  <thead>
  <tr>
    <th style="width: 50%;">Queue</th>
    <th style="width: 30%;">Pending jobs</th>
    <th></th>
  </tr>
  </thead>

  <%= render partial: "mission_control/jobs/queues/queue", collection: @queues %>

  </tbody>
</table>
