<% navigation(title: "Queue #{@queue.name}", section: :queues) %>

<%= render "mission_control/jobs/queues/queue_title", queue: @queue %>

<% if @jobs_page.empty? %>
  <%= blank_status_notice "The queue is empty" %>
<% else %>
  <table class="jobs table queues is-hoverable is-fullwidth">
    <tbody>
    <thead>
    <tr>
      <th style="width: 30%;">Job</th>
      <th></th>
    </tr>
    </thead>

    <%= render partial: "mission_control/jobs/queues/job", collection: @jobs_page.jobs %>

    </tbody>
  </table>

  <%= render "mission_control/jobs/shared/pagination_toolbar", jobs_page: @jobs_page %>
<% end %>


