<% navigation(title: "Queue #{@queue.name}", section: :queues)  %>

<table class="jobs table queues is-striped is-hoverable is-fullwidth">
  <tbody>
  <thead>
  <tr>
    <th>Job</th>
  </tr>
  </thead>

  <%= render partial: "mission_control/jobs/queues/job", collection: @jobs_page.jobs %>

  </tbody>
</table>

<%= render "mission_control/jobs/shared/pagination_toolbar", jobs_page: @jobs_page %>

