<td><%= link_to job.queue_name, application_queue_path(@application, job.queue) %></td>
<td><div class="is-family-monospace"><%= job.blocked_by %></div></td>
<td><%= bidirectional_time_distance_in_words_with_title(job.blocked_until) %></td>
