<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <%= render "layouts/mission_control/jobs/application_selection/servers", application: @application %>
      <%= render "layouts/mission_control/jobs/application_selection/applications" %>
    </div>
  </div>
</nav>
