<div class="tabs is-boxed" id="navigation-sections">
  <ul>
    <li class="is-active">
      <a href="#">
        <span class="is-skeleton">Loading...</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="is-skeleton">Loading...</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="is-skeleton">Loading...</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="is-skeleton">Loading...</span>
      </a>
    </li>
  </ul>
</div>

<script>
  if (typeof navigationInterval === "undefined") {
    var navigationInterval = null;
  }

  document.addEventListener("turbo:load", () => {
    if (!window.Navigation || typeof window.Navigation.currentSection === 'undefined') {
      window.Navigation = {
        currentSection: "<%= @current_section %>",

        changeSection(section) {
          this.currentSection = section;
        }
      };

      updateNavbarData();
      startNavigationInterval();
    } else {
      window.Navigation.currentSection = "<%= @current_section %>";
    }
  });

  document.addEventListener("turbo:visit", () => {
    clearInterval(navigationInterval);
    startNavigationInterval();
  });

  document.addEventListener('click', function (event) {
    if (event.target.matches('[data-action="changeNavtab"]')) {
      const newSection = event.target.dataset.newsection;
      updateNavbarData(newSection);
    }
  });

  function startNavigationInterval() {
    if (navigationInterval != null)
      clearInterval(navigationInterval);

    navigationInterval = setInterval(updateNavbarData, 2000);
  }

  function updateNavbarData(forcedSection) {
    const urlParams = new URLSearchParams(window.location.search);
    const newSection = forcedSection == null ? window.Navigation.currentSection : forcedSection;

    fetch(`<%= internal_api_navigation_index_path %>&server_id=${urlParams.get('server_id')}&section=${newSection}`)
      .then(response => response.text())
      .then(html => {
        const navigationSections = document.querySelector('#navigation-sections');
        if (navigationSections) {
          navigationSections.innerHTML = html;
        }
      })
      .catch(error => console.error("Error fetching navigation update:", error));
  }
</script>
