<div class="field">
  <div class="control">
    <div class="select">
      <select id="theme-select" style="visibility:hidden">
        <option value="system">System</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
  </div>
</div>
