<% if application.servers.many? %>
  <div class="server-selector navbar-item">
    <div class="tabs is-toggle is-toggle-rounded is-small">
      <ul>
        <% application.servers.each do |server| %>
          <li class="<%= "is-active" if selected_server?(server) %>">
            <%= link_to application_queues_path(application, server_id: server) do %>
              <span><%= server.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
