<div class="buttons is-right">
  <%= button_to "Discard", application_failed_job_discard_path(@application, job.job_id), class: "button is-danger is-light mr-0",
    form: { data: { turbo_confirm: "This will delete the job and can't be undone. Are you sure?" } } %>
  <%= button_to "Retry", application_failed_job_retry_path(@application, job.job_id), class: "button is-warning is-light mr-0" %>
</div>
