<tr class="job">
  <td>
    <%= job.class_name %>
    (<%= job.serialized_arguments.inspect %>)
  </td>
  <td>
    <%= job.last_execution_error.error_class %>:
    <%= job.last_execution_error.message %>
  </td>
</tr>
