<div class="buttons is-right level-right">
  <% if @job_class_filter.present? %>
    <span class="mr-5">
      <%= @jobs_count %> jobs selected
    </span>
  <% end %>

  <% target = @job_class_filter.present? ? "selection" : "all" %>

  <%= button_to "Discard #{target}", application_failed_jobs_bulk_discard_path(@application, filter: { job_class: @job_class_filter }),
    method: :post, disabled: @jobs_count == 0, class: "button is-danger is-light",
    form: { data: { turbo_confirm: "This will delete #{@jobs_count} jobs and can't be undone. Are you sure?" } } %>
  <%= button_to "Retry #{target}", application_failed_jobs_bulk_retry_path(@application, filter: { job_class: @job_class_filter }),
    method: :post, disabled: @jobs_count == 0,
    class: "button is-warning is-light mr-0" %>
</div>
