<td><%= link_to job.queue_name, application_queue_path(@application, job.queue) %></td>
<td>
  <%= bidirectional_time_distance_in_words_with_title(job.scheduled_at) %>
  <% if job_reexecution(job) %>
    <div class="is-warning tag ml-4">
    <%= job_reexecution(job) %> reexecution
    </div>
  <% end %>
  <% if job_delayed?(job) %>
    <div class="is-danger tag ml-4">delayed</div>
  <% end %>
</td>
<td class="pr-0">
  <%= render "mission_control/jobs/jobs/scheduled/actions", job: job %>
</td>
